@font-face {
	font-family: 'Myriad Pro';
	src: url('MyriadPro-Regular.otf');
	font-weight: regular;
	font-style: normal;;
}

@font-face {
	font-family: 'MarkForMC';
	src: url('MarkForMC-Thin.ttf');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'MarkForMC';
	src: url('MarkForMC-Lt.ttf');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'MarkForMC';
	src: url('MarkForMC-LtIt.ttf');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'MarkForMC';
	src: url('MarkForMC.ttf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'MarkForMC';
	src: url('MarkForMC-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}