/*MAX WIDTH 1400PX START*/
@media (max-width: 1550px) {
	footer .text {
		margin-right: 0;
	}

	.first_screen .list {
		margin-left: 0;
		margin-right: 0;
	}

	.block_evolution .container {
		align-items: center;
	}
}
/*MAX WIDTH 1400PX END*/





/*MAX WIDTH 1200PX START*/
@media (max-width: 1200px) {

	.first_screen .item_title {
		font-size: 18px;
	}

	.first_screen .item .img_wrap {
		min-height: 24vw;
	}

	.text_block {
		align-items: stretch;
	}

	.text_block .right_part {
		background: #000;
		display: flex;
		align-items: center;
		justify-content: center;
	}

}
/*MAX WIDTH 1200PX END*/





/*MAX WIDTH 992PX START*/
@media (max-width: 992px) {

	.first_screen .item_title {
		font-size: 16px;
	}

	.first_screen .title {
		font-size: 72px;
	}

	.block-title {
		font-size: 60px;
	}

	.block_video .text,
	.block_video .text-italic {
		font-size: 22px;
	}

	.text_block {
		flex-direction: column-reverse;
	}

	.text_block .left_part,
	.text_block .right_part {
		width: 100%;
	}

	.text_block .left_part p,
	.text_block .left_part .content {
		max-width: unset;
	}

	.text_block .right_part img {
		aspect-ratio:  1/1;
	}

}
/*MAX WIDTH 992PX END*/





/*MAX WIDTH 768PX START*/
@media (max-width: 768px) {

	.first_screen .list {
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.first_screen .item {
		width: 50%;
		margin-bottom: 50px;
		max-width: 250px;
	}

	.first_screen .title {
		font-size: 50px;
	}

	.block-title {
		font-size: 32px;
	}

	footer .text,
	p {
		font-size: 16px;
	}

	.block_video .text, 
	.block_video .text-italic {
		font-size: 18px;
	}

	.block_evolution .container {
		flex-direction: column-reverse;
	}

	.block_video .container,
	.outside_in .container {
		flex-direction: column;
	}

	.block_evolution .left_part,
	.block_video .right_part,
	.block_video .left_part,
	.outside_in .right_part,
	.people_of_mastercard .left_part,
	.people_of_mastercard .right_part {
		width: 100%;
	}

	.block_evolution .right_part,
	.people_of_mastercard .right_part {
	    max-width: unset;
	    width: 50%;
	    margin-right: auto;
	}

	.outside_in .left_part {
		margin-right: auto;
	}

	.outside_in .text,
	.outside_in .right_part,
	.block_evolution .left_part .text {
		max-width: unset;
	}

	.block_video .right_part,
	.block_video .text {
		margin-top: 20px;
	}

	.block_carousel .carousel .center .text {
	    margin: 20px -110px 0;
	    font-size: 16px;
	}

	.block_carousel .carousel .title {
		font-size: 24px;
	}

	.block_carousel .owl-item:not(.center) {
		opacity: .3;
	}

	.text-slider {
		max-width: unset !important;
	}

}
/*MAX WIDTH 768PX END*/