html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button, input, textarea {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}

sup {
	vertical-align: text-bottom;
}
sub {
	vertical-align: sub;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.4;
	font-size: 16px;
	scroll-behavior: smooth;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: unset;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
	color:inherit;
	transition: .5s;
}
button{
	outline: none;
	cursor: pointer;
	border: none;
	transition: .5s;
}

input,
select,
textarea,
button {
	border: none;
	outline: none;  
}

input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input[type='sibmit']{
	cursor: pointer;
	transition: .5s;
}

svg {
	transition: .5s;
}

.flex{
	display: flex;
}

.flex-start-between {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.flex-center-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.flex-center-end {
	display: flex;
	justify-content: flex-end;
	align-items: center;	
}

.flex-center-start {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.flex-start-around {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
}

.flex-center-start {
	display: flex;
	justify-content: start;
	align-items: center;
}

.flex-stretch-between {
    display: flex;
    justify-content: space-between;
    align-items: stretch; 
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.mr-auto,
.my-auto {
    margin-right: auto;
}

.ml-auto,
.my-auto {
    margin-left: auto;
}

.mob {
    visibility: hidden;
    position: absolute;
    right: 0;
}

.pos-r {
    position: relative;
}

.overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    z-index: 999;
}

.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-right: 10px;
	padding-left: 10px;
}

.text-italic {
	font-style: italic;
}

.text-center {
	text-align: center;
}

@media screen and (max-width: 1200px) {
	.mob {
		visibility: visible;
		position: relative;
	}

	.desk {
		display: none!important;
	}
}