body {
    font-family: 'MarkForMC';
    color: white;
    background: black;
    font-weight: 200;
}

html, body {
    scroll-behavior: smooth;
}

.ff-myriad {
    font-family: 'Myriad Pro';
}

.container {
    max-width: 1356px;
}

a:hover {
    color: #f59c1b;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 32px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
}

.p, p {
    font-size: 22px;
}

.block-title {
    font-size: 80px;
}

.dottes {
    width: 100%;
    max-width: 234px;
}

/*FIRST SCREEN START*/

.first_screen {
    background-image: url('../img/first-screen-bg.png');
    background-position: bottom center;
    background-size: cover;
    padding-top: 68px;
    background-repeat: no-repeat;
    padding-bottom: 4.04624277vw;
}

.first_screen .card_icon {
    width: 88px;
}

.first_screen .text_above_title {
    margin-top: 4.50867052vw;
    font-size: 32px;
    font-weight: 700;
}

.first_screen .title {
    font-size: 116px;
    font-weight: 200;
    margin-top: 19px;
}

.first_screen .text {
    margin-top: 5.2vw;
    max-width: 460px;
    line-height: 1.25;
    padding-left: 3px;
    letter-spacing: -0.1px;
}


.first_screen .list {
    margin: 12vw -20px 0;
}


.first_screen .item {
    padding: 0 16px;
    text-align: center;
    width: 25%;
    max-width: 276px;
    display: block;
}

.first_screen .item .img_wrap {
    min-height: 298px;
    padding: 1px 1px 20px 1px;
    margin: -1px;
}

.first_screen .item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.first_screen .item_title {
    font-size: 20px;
}

.first_screen .item:first-child img {
    margin-right: -18.315%;
    max-width: 118.315%;
}

.first_screen .item:last-child img {
    margin-top: -5%;
}

/*FIRST SCREEN END*/

/*EVOLUTION START*/
.block_evolution {
    padding-top: 6.24277457vw;
    padding-bottom: 2.89017341vw;
}

.block_evolution .left_part {
    width: 46%;
    padding-left: 4px;
    padding-top: 04.45086705vw;
}

.block_evolution .left_part .text-slider {
    margin-top: 39px;
    max-width: 518px;
}

.block_evolution .left_part .text {
    font-size: 18px;
    line-height: 1.45;
}

.block_evolution .left_part img {
    margin-top: 5.14450867vw;
}

.block_evolution .right_part {
    width: 50%;
    padding-right: 4px;
}

.block_evolution .right_part img {
    width: 100%;
}
/*EVOLUTION END*/

/*VIDEO START*/
.block_video {
    padding-top: 6.47398844vw;
    padding-bottom: 3.46820809vw;
}

.block_video .left_part {
    width: 51.6%;
}

.block_video .left_part iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 1/0.664;
}

.block_video .right_part {
    width: 41%;
    padding-bottom: 12px;
}

.block_video .text-italic {
    font-size: 28px;
    letter-spacing: 0.4px;
    line-height: 1.38;
}

.block_video .text {
    margin-top: 39px;
    font-size: 28px;
    letter-spacing: 0.5px;
    color: #f59c1b;
    font-weight: 400;
}
/*VIDEO END*/

/*OUTSIDE IN START*/
.outside_in {
    background-image: url(../img/outside-in-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
    padding-top: 36.9942197vw;
    margin-top: -28.3236994vw;
    padding-bottom: 12vw;
}

.outside_in .left_part {
    width: 41.1%;
    padding-left: 4px;
}

.outside_in .left_part img {
    width: 100%;
}

.outside_in .right_part {
    width: 50%;
    max-width: 548px;
    margin-top: 26px;
}

.outside_in .text-slider {
    margin-top: 35px;
    max-width: 460px;
}

.outside_in .text {
    padding-left: 5px;
    font-size: 18px;
    line-height: 1.45;
}

.outside_in .dottes {
    margin-top: 8.15028902vw;
    margin-left: 4px;
}
/*OUTSIDE IN END*/

/*TEXT BLOCK START*/
.text_block {
    background: white;
    color: black;
}

.text_block .left_part {
    width: 50%;
    padding-top: 50px;
}

.text_block .left_part .content {
    width: 100%;
    max-width: 680px;
    padding-left: 16px;
    margin-left: auto;
    padding: 30px 16px;
}

.text_block .left_part .title {
    font-size: 26px;
    letter-spacing: 0.4px;
    margin-bottom: 1.5em;
}

.text_block .left_part p {
    font-size: 18px;
    max-width: 480px;
    line-height: 1.467;
    margin-bottom: 1.467em;
}

.text_block .left_part .dottes {
    margin-top: 4.10404624vw;
}

.text_block .right_part {
    width: 50%;
}

.text_block .right_part img {
    width: 100%;
    aspect-ratio:  1/1.027;
    object-fit: cover;
    object-position: center;
    display: block;
    margin-top: -1px;
    margin-bottom: -1px;
    background: black;
}
/*TEXT BLOCK END*/

/*People of Mastercard START*/
.people_of_mastercard {
    padding-top: 14.2196532vw;
    position: relative;
}

.people_of_mastercard .left_part {
    padding-top: 4.45086705vw;
}

.people_of_mastercard .right_part {
    max-width: 550px;
}

.people_of_mastercard .block-title {
    line-height: 1.2;
}

.people_of_mastercard .left_part .text-slider {
    margin-top: 45px;
}

.people_of_mastercard .decor {
    position: absolute;
    right: 5.4vw;
    top: 4.10404624vw;
    max-width: 240px;
    width: 13.8728324vw;
}
/*People of Mastercard END*/

/*CAROUSEL START*/
.block_carousel {
    padding-top: 132px;
    overflow: hidden;
}

.block_carousel .container {
    position: relative;
}

.block_carousel .carousel .owl-stage-outer {
    padding: 60px;
    margin: -60px;
}

.block_carousel .carousel .item {
    text-align: center;
    padding: 0 16px;
    max-width: 228px;
    margin: 0 auto;
    transition: .5s;
}

.block_carousel .carousel img {
    max-width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
    transition: .5s;
}

.block_carousel .carousel .title {
    margin-top: 26px;
    font-size: 28px;
    letter-spacing: -0.5px;
}

.block_carousel .carousel .text {
    display: none;
}

.block_carousel .carousel .center .text {
    display: block;
    margin: 18px -22px 0;
    font-size: 18px;
    line-height: 1.47;
}

.block_carousel .carousel .center .item {
    transform: translateY(-30px);
    max-width: unset;
}

.block_carousel .carousel .center .img_wrap {
    max-width: 246px;
    margin: 0 auto;
}

.block_carousel .carousel .center .title {
    margin-top: 38px;
}

.block_carousel .owl-item:not(.center) {
    position: relative;
    transition: .5s;
}

.block_carousel .owl-item:not(.center):after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1;
    background: linear-gradient(to right, black, transparent);
}

.block_carousel .owl-item.center + .owl-item:after {
    transform: scale(-1);
}

.block_carousel .carousel-nav {
    position: absolute;
    height: 0;
    top: 25.6%;
    width: 100%;
    right: 0;
    z-index: 2;
}

.block_carousel .carousel-nav button {
    height: 100px;
    width: 70px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.block_carousel .carousel-nav button.next {
    transform: scale(-1);
}

.block_carousel .carousel-nav button:before,
.block_carousel .carousel-nav button:after {
    content: '';
    width: 6px;
    height: 54px;
    background: white;
    position: absolute;
    top: 5px;
    transform: rotate(45deg);
    border-radius: 5px;
}

.block_carousel .carousel-nav button:after {
    bottom: 5px;
    top: unset;
    transform: rotate(-45deg);
}

/*CAROUSEL END*/

/*IN THE REGION START*/
.in_the_region {
    background-image: url(../img/in-the-regions-bg.png);
    padding-top: 18.265896vw;
    margin-top: 0;
    padding-bottom: 7.51445087vw;
    position: relative;
}

.in_the_region .decor {
    position: absolute;
    top: 108px;
    max-width: 360px;
    width: 20.8092486vw;
    left: -96px;
}
/*IN THE REGION END*/

.text_block-2 .left_part {
    padding: 0 0 24px;
}

/*FOOTER START*/
footer {
    padding: 5.78034682vw 0;
}

footer img {
    width: 90px;
    margin-right: 30px;
}

footer .text {
    margin-right: -75px;
    font-size: 20px;
    margin-top: -8px;
    letter-spacing: -0.1px;
}

footer a {
    color: #f59c1b;
}

footer a:hover {
    color: white;
    text-decoration: underline;
}
/*FOOTER END*/

.text-slider .owl-dots {
    text-align: left;
    margin-top: 4.8vw !important;
    margin-left: -14px;
}

.text-slider.owl-theme .owl-dots .owl-dot span {
    width: 15px;
    height: 15px;
    margin: 5px 14px;
    background: gray;
}

.text-slider.owl-theme .owl-dots .owl-dot.active span, 
.text-slider.owl-theme .owl-dots .owl-dot:hover span {
    background: #eee;
}

.text-slider.invert.owl-theme .owl-dots .owl-dot span {
    background: #eee;
}

.text-slider.invert.owl-theme .owl-dots .owl-dot.active span, 
.text-slider.invert.owl-theme .owl-dots .owl-dot:hover span {
    background: gray;
}